<% provide(:title, '運営団体') %>
<h1>媒体紹介</h1>
<p>
  <table class="company">
  <tr>
    <th class="arrow_box">運営媒体名</td>
    <td>Sil</td>
  </tr>
  <tr>
    <th class="arrow_box">運営責任者</td>
    <td>駒崎琴美</td>
  </tr>
  <tr>
    <th class="arrow_box">コンセプト</td>
    <td>顔の知らない地域のママと、子育て情報を共有する</td>
  </tr>
  </table>
</p>