<div class="page-header">
	<% if params[:category_id] == "1" then %>
		<h1>地域イベント・遊び場一覧</h1>
	<% elsif params[:category_id] == "2" then %>
		<h1>病院関連いどばた一覧</h1>
	<% elsif params[:category_id] == "3" then %>
		<h1>防犯情報いどばた一覧</h1>
	<% elsif params[:category_id] == "4" then %>
		<h1>子育て相談いどばた一覧</h1>
	<% elsif params[:category_id] == "5" then %>
		<h1>おさがりフリマいどばた一覧</h1>
	<% else %>
		<h1>いどばた一覧</h1>
	<% end %>
 </div>
 <div class="list-group">
 	<% @events.each do |event| %>
 		<%= link_to(event, class: 'list-group-item') do %>
 		<h4 class="list-group-item-heading">
 		<%= event.name %>
 		</h4>
 		<p class="list-group-item-text">
 			<%= event.created_at.strftime('%Y/%m/%D %H:%M') %>
 		</p>
 		<% end %>
 	<% end %>
 	<%= paginate @events %>
 </div>