<% provide(:title, '運営団体') %>
<h1>運営団体</h1>
<p>
  <table class="company">
  <tr>
    <th class="arrow_box">団体名</td>
    <td>株式会社としおくん</td>
  </tr>
  <tr>
    <th class="arrow_box">代表取締役</td>
    <td>谷口としおくん</td>
  </tr>
  <tr>
    <th class="arrow_box">設立</td>
    <td>昨日くらい</td>
  </tr>
  <tr>
    <th class="arrow_box">資本金</td>
    <td>3万円</td>
  </tr>
  </table>
</p>