<% provide(:title, 'ヘルプ') %>
<h1>ヘルプ</h1>
<div>
 	<ul>
 		<li>取りあえずこのくらいは作れるよ〜という参考までに
 		<li>このままだとただのTwitterの超劣化版
 		<li>（入力漏れのときの）エラーメッセージが英語です
 		<li>画像アップロードとかもできるようにします
 		<li>デザインはもうちょっと何とかします
	</ul>
</div>