<% if user_signed_in? %>
  <div class="row-fluid">
    <div class="span12">
      <h3>プロフィール</h3>
      <p>工事中………</p>
    </div>
  </div>
<% else %>

	<div class="center hero-unit">
    	<h1>ようこそSilへ！</h1>

    	<h2>
    		「Sil」は地域子育て情報共有サイトです
    	</h2>

	    <%= link_to "早速始めてみましょう！", new_user_registration_path,
                                class: "btn btn-large btn-primary" %>
	</div>
<% end %>