@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* clearfix（任意で） */
*:after { display:block; clear:both; }

/* はみ出し対策 */
body { width:100%; overflow:hidden; }

/* universal */

html {
  overflow-y: scroll;
}

body {
  position: relative;
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  color: #000000 ;
  background: #ffffff;
  font-size: 16pt ;
  line-height: 1;
  margin:10px 0px;
  padding: 10px 5px 10px 5px;
  border-bottom:3px solid #51daf4;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #808080;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */
header {
  ul#loginNav li {
    float: right;
    text-decoration: none; 
    color: #557184;
    margin-top: 15px;
    padding-left: 0;
    list-style:none;
    box-sizing: border-box;
  }
  ul#loginNav li + li {
    padding-right: 0;
  }

  ul#unloginNav li {
    float: right;
    text-decoration: none; 
    color: #557184;
    padding-left: 10px;
    list-style:none;
    box-sizing: border-box;
  }
  ul#unloginNav li + li {
    padding-right: 10px;
    border-right: 1px solid #999;
  }

  h2 {
    float: left;
    font-family: fantsy;
    color: #000000;
  }  
}

.menu-btn {
  margin-top: 15px;
  margin-left: 10px;
}

#logo {
  float: left;
}

.navbar {
  max-height: 57px;
  background-color: #87CEEB;
}

/* sidebar-left */

.myButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
  background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
  background-color:#ffffff;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  margin:20px 0;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}

.myButton.myButton1{
  border:2.5px solid #00FFFF;
}
.myButton.myButton2{
  border:2.5px solid #FF367F;
}
.myButton.myButton3{
  border:2.5px solid #2DFF57;
}
.myButton.myButton4{
  border:2.5px solid #7B3CFF;
}
.myButton.myButton5{
  border:2.5px solid #FF5F17;
}
.myButton.myButton6{
  border:2.5px solid #FFA500;
}
.myButton.myButton7{
  border:2.5px solid #F0E68C;
}

.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
  background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
  background-color:#f6f6f6;
}

.myButton:active {
  position:relative;
  top:1px;
}

/* sidebar-right */

.sidebar-right {
  .rightBtn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 3px #666666;
  -moz-box-shadow: 0px 5px 3px #666666;
  box-shadow: 0px 5px 3px #666666;
  color: #000000;
  font-size: 13px;
  background: #87CEEB;
  padding: 15px 20px;
  margin:20px 0;
}

  .rightBtn:hover {
    background: #00BFFF;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #444444;
  color: #808080;
  a {
    color: $gray;
    &:hover {
      color: #333333;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid #808080;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid #808080;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: #33CCFF;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* sidebar_right */



/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input.smp1 {
  cursor:pointer;/*カーソルを指先型にします*/
  font-size:130%;
  font-weight: bold;
  width:25%;
  padding: 5px 0;
  margin:0.5em 0.5em 0 0;
  border-style:none;/*デフォルトのボーダーを消す。ボーダーの指定を上書きしてもOK*/
  color: #fff;
/*↓ボックスの角丸の指定です*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
/*↓ボックスのシャドウの指定です*/
  -moz-box-shadow: 2px 2px 3px 1px #666;
  -webkit-box-shadow: 2px 2px 3px 1px #666;
  box-shadow: 2px 2px 3px 1px #666;
/*↓テキストシャドウの指定です*/
  text-shadow: 1px 1px 2px #000; 
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #808080;
    &:last-child {
      border-bottom: 1px solid #808080;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: #808080;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

table.company {
    width: 50%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0px 15px;
    font-size: 12px;
}
 
table.company th,
table.company td {
    padding: 10px;
}
 
table.company th {
    background: #295890;
    vertical-align: middle;
    text-align: left;
    width: 25%;
    overflow: visible;
    position: relative;
    color: #fff;
    font-weight: normal;
    font-size: 15px;
}
 
table.company th:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #295890;
    border-width: 1%;
    margin-top: -10px;
}
/* firefox */
@-moz-document url-prefix() {
    table.company th::after {
        float: right;
        padding: 0;
        left: 30px;
        top: 10px;
        content: " ";
        height: 0;
        width: 0;
        position: relative;
        pointer-events: none;
        border: 10px solid transparent;
        border-left: #295890 10px solid;
        margin-top: -10px;
    }
}
 
table.company td {
    background: #f8f8f8;
    width: 25%;
    padding-left: 20px;
}

form.company {
    width: 50%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0px 15px;
    font-size: 12px;
}