.keyVisualContainer {
	position: relative;
	background-image: image-url("image10.png");
	background-size: 100%;
	height: 500px;

	.keyVisualContent {
		position:absolute; 
		top: 55%;
		left: 15%;
  		h1 {
  			font-size: 3em;
  			background-color: transparent;
  			letter-spacing: -2px;
  			margin-bottom: 30px;
  			text-align: center;
  		}
  		h2 {
  			text-align: center;
  			color: #000000;
  		}
	}
}

.keyVisualContainer-smartphone {
	position: relative;
	background-image: image-url("image10.png");
	background-size: 100%;
	height: 180px;

	.keyVisualContent {
		position:absolute; 
		top: 40%;
		left: 10%;
  		h1 {
  			font-size: 1em;
  			background-color: transparent;
  			letter-spacing: -2px;
  			margin-bottom: 10px;
  			text-align: center;
  		}
  		h2 {
	  		font-size: 0.4em;
  			text-align: center;
  			color: #000000;
  		}
	}
}

.startBtn {
	margin-top: 100px;
	position: absolute; 
	left: 50%;
	text-align: center;
}
