<div class="navbar-inner">
    <div>
      <nav>
        <ul class="nav">
          <li><%= link_to "ホーム", root_path %></li>
          <li><%= link_to "ヘルプ", pages_help_path %></li>
          <li><%= link_to 'イベント一覧', events_path %></li>
        </ul>
      </nav>
    </div>
  </div>