<p>Silに仮登録ありがとうございます</p>

<p><%= @resource.name %>さん はじめまして！</p>
<p>Silにご登録ありがとうございます。</p>
<p>これからぜひ一緒にSilのサイトを盛り上げていってください。</p>

ログイン画面は以下のURLからお進みください

<p><%= link_to 'Sil本登録', confirmation_url(@resource, confirmation_token: @token) %></p>
